<div class='all-reports'>

<% @reports.each do |report| %>

  <table class="report-table">
    <tr>
      <th>Gender</th>
      <th>Age</th>
      <th>Weight (kg)</th>
      <th>Height (cm)</th>
      <th>Report date</th>
      <th>Basel Metabolic Rate</th>
    </tr>

    <tr>
      <td><%= report.gender %></td>
      <td><%= report.age %></td>
      <td><%= report.weight %></td>
      <td><%= report.height %></td>
      <td><%= report.date_posted %></td>
      <td><%= report.intake %></td>
    </tr>

  </table>

<% end %>
</div>
